.SearchBar {
  padding: 1rem 0;

  label {
    font-size: 1rem;
  }

  input {
    padding: 1rem 0.5rem;
    border: 1px solid black;
    border-radius: 30px;
  }
  
  button {
    padding: 1rem 1.25rem;
    border-radius: 30px;
    
  }
}